<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--<add key="url" value="http://web4.cartoonmad.com/c86es736r62/{0}/{1}/{2}.jpg"/>-->
        <add key="BaseUrl" value="http://web.cartoonmad.com/c86es726r62/{0}/{1}/{2}.jpg"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>